@charset "utf=8";

.wrapper {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;

    padding-top: 40px;
    padding-bottom: 100px;
    list-style: none;
    max-width: 1140px;
    width: 100%;
}

.grid-container li {
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.grid-container img {
    width: 100%;
    max-width: 1140px;
    height: auto; 
    display: block;
}

.music-text {

    top: 10px;
    left: 0;
    color: #000000;

    padding-top: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
    max-width: 100%;
}

.music-text p,
.music-text span {
    margin: 0;
    display: block;
}

.music-text p {
    font-size: 0.8em;
    color: #707070;
}

.music-text a {
    position: absolute;
    right: 0;
    font-size: 0.8em;
    color: #707070;
    text-decoration: underline;
    text-decoration-color: #707070;
    justify-content: flex-end;

}

.music-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    span {
        margin-right: 10px;
    }



}

.music-textback {
    padding-top: 32px;
    padding-bottom: 120px;
    text-align: center;
    text-decoration: underline;
    color: #707070;
    text-decoration-color: #707070;

}


@media screen and (max-width: 767px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        /* justify-content: center;  */
        width: 90%;
        
    }

    
    .grid-container img {
        width: 70%;
        height: auto;
        object-fit: cover; 
        margin: 0 auto; 
    }

    
    .music-text {
        width:  70%;
        text-align: left; 
        margin: 0 auto;
        justify-content: left;
    }

    .music-text-wrapper {
        text-align: center; 
    }
    .music-text a {
        position: static;
        right: 0;
        font-size: 0.8em;
        color: #707070;
        text-decoration: underline;
        text-decoration-color: #707070;
        justify-content: flex-end;
    
    }
}

@media screen and (max-width: 480px){
    .grid-container img {
        width: 70%;
        height: auto;
        object-fit: cover; 
        margin: 0 auto; 
        /* position: relative; */
    }
}