@charset "utf-8";


.news-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-text img {
  margin-bottom: 10px;
  margin-top: 40px;
  max-width: 1140px;
  width: 90%;
  height: auto;

  
}
@media screen and(max-width:767px) {
  .news-text img {
    width: 80%;
    height: auto;
    margin: 20px auto;
    max-width: 1140px;
  }
}

.news-text p {
  margin-top: 10px;
  margin-bottom: 100px;
  max-width: 1140px;
  width: 90%;
  justify-content: left;
  text-align: left;
  line-height: 2.0;
  font-size: 1.2em;
}

@media screen and (max-width: 767px) {
  .news-text p {
      font-size: 1em;
  }
}

@media screen and (max-width: 480px) {
  .news-text p {
      font-size: 0.8em;
  }
}



.news-list {
  text-align: center;
  width: 100%;
  margin: 20px auto;
}

.news-link {
  display: inline-block;

  p {
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: #707070;
    color: #707070;
    margin-bottom: 120px;
  }
}



.news-textback {
  text-decoration: underline;
  text-decoration-color: #707070;
  color: #707070;
  margin-top: 120px;
  margin-bottom: 120px;
  width: 100%;
  text-align: center;
}